* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  color: white;
}

.content {
  height: 100vh;
  background-image: url(/static/images/car_img.jpg);
  background-size: cover;
  display: flex;
}

.form-section {
  flex: 2;
  background-color: rgba(0, 0, 0, 0.75);
  padding-left: 48px;
}


h1 {
  color: white;
  font-size: 4rem;
  margin-top: 30px;
}

form {
  margin-top: 48px;
}

.input-row {
  display: flex;
  margin-bottom: 18px;
  column-gap: 40px;
}

div.input {
  width: 200px;
}

.inputs-section label {
  display: block;
  margin-bottom: 1px;
  font-size: 1.4rem;
  letter-spacing: 0.02rem;
}

.inputs-section input {
  font-size: 1.5rem;
  text-align: end;
  border: 1px solid #e5e7eb;
  border-radius: 4px;
  padding: 4px 8px;
  box-sizing: border-box;
  width: 100%;
}

.button {
  box-shadow: 2px 5px 5px 4px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 8px;
  padding: 12px 48px;
  margin: 32px 0 0;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 0.02rem;
  cursor: pointer;
}

.output-section {
  flex: 1;
  background-color: rgba(0, 0, 0, 0.75);
}

.output-prediction {
  margin-top: 200px;
  margin-right: 200px;
}
